* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

}


.element {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}

.elem1 {
    margin: -9px 10px;
    width: 30px;
    height: 3px;
    background-color: black;
}

.elem2 {
    margin: -9px 10px;
    width: 5px;
    height: 3px;
    background-color: black;

}

.elem3 {
    margin: -9px 10px;
    width: 25px;
    height: 3px;
    background-color: black;

}

.elem4 {
    margin: -9px 10px;
    width: 10px;
    height: 3px;
    background-color: black;
}


.route{
    animation: myAnimation 0.3s linear infinite;
   
}

@keyframes myAnimation {

    0% {
        /* right: 0; */
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }

}

.anim-car {
    animation: car 1s linear infinite;
}


@keyframes car {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translatey(3px);
    }
}

.carosse {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #fbbc04;
    border-radius: 10%;
}

.trait-horiz {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.elem {
    width: 3px;
    height: 36px;
    background-color: rgb(83, 83, 83);
    margin: -33px 0;

    display: flex;
    flex-direction: column;
      
}


.trait-vertical {
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: rgb(83, 83, 83);
    z-index: 1;
    margin-top: -66px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

.roues {
    display: flex;
    justify-content: space-between;
}

.roue {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(78, 78, 78);
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.roue-droite {
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.roue-gauche {
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.jante {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: white;
}

