* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

}





.element {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}

.elem1 {
    margin: -9px 10px;
    width: 30px;
    height: 3px;
    background-color: black;
}

.elem2 {
    margin: -9px 10px;
    width: 50px;
    height: 3px;
    background-color: black;

}

.elem3 {
    margin: -9px 10px;
    width: 25px;
    height: 3px;
    background-color: black;

}

.elem4 {
    margin: -9px 10px;
    width: 10px;
    height: 3px;
    background-color: black;
}


.route {
    animation: myAnimation 0.5s linear infinite;

}

@keyframes myAnimation {

    0% {
        right: 0;
    }

    100% {
        transform: translateX(100px);
    }

}



.anim-car {
    animation: car 1s linear infinite;
}


@keyframes car {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translatey(3px);
    }

}



.carosse {
    width: 200px;
    height: 100px;
    background-color: gray;
    border-radius: 10%;
}


.voiture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roues {
    display: flex;
    justify-content: space-between;
}

.roue {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(78, 78, 78);
}

.roue-droite {

    margin-left: 10px;
    margin-right: 10px;
}

.roue-gauche {
    margin-left: 10px;
    margin-right: 10px;
}